<nav class="navbar">
  <div class="navbar-brand">
    <i class="bi bi-cup-straw"></i>
    <p>Frappe shop</p>
  </div>

  <div class="navbar-icon">
    <i class="bi bi-list" (click)="abrirMenu()"></i>
    <i class="bi bi-x-lg" (click)="cerrarMenu()"></i>
  </div>

  <div class="navbar-nav">
    <ul class="navbar-nav-list">
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
        <a href="/productos">Nuestros productos</a>
      </li>
      <li>
        <a href="/sobreNosotros">Sobre nosotros</a>
      </li>
    </ul>
  </div>
</nav>
